@import "tailwindcss";

@theme {
  --color-background: #0f0f1a;
  --color-surface: #1a1a2e;
  --color-primary: #6c63ff;
  --color-secondary: #16213e;
  --color-text: #e0e0f0;
  --color-muted: #a0a0b0;
  --color-success: #1d9e75;
  --color-danger: #e24b4a;
  --color-border: #2a2a3e;
}

body {
  background-color: #0f0f1a;
  color: #e0e0f0;
}